
<%- include('../partials/adminNavbar.ejs') %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <h3 class="text-center"
          style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande','Lucida Sans Unicode', Geneva, Verdana, sans-serif; padding: 10px;">Users List</h3>
        <div class="row col-md-12 mt-1 w-100 p-3 justify-content-between">
      <div class="col-md-12 ">
          <div class="card" style="background-color: rgb(246, 243, 243);">
              <div class="card-body">
                  <!-- <h2 class="text-center mb-4">Admin Panel</h2> -->
                  <form action="/adminpanel/search" method="get" class="mb-4 w-25">
                      <div class="input-group">
                          <input type="text" name="searchTerm" class="form-control" placeholder="Search by keyword">
                          <button type="submit" class="btn btn-info">Search</button>
                      </div>
                  </form>
                  <div class="">
                      <table class="table table-bordered">
                          <thead >
                          <tr class="table-secondary">
                              <th>Username</th>
                              <th>Email</th>
                              <th>Phone</th>
                              <th>Actions</th>
                          </tr>
                          </thead>
                          <tbody>
                            <% if(locals.datas) { %>
                              <% for(let user of locals.datas) { %>
                              <tr class="table-light">
                                  <td><%= user.username %></td>
                                  <td><%= user.email %></td>
                                  <td><%= user.phone %></td>
                                  <td>
                                    <% if(user.isBlocked) {%>
                                      <!-- If the user is blocked, display the "Unblock" button -->
                                      <a href="/admin/user/unblock/<%= user._id %>" class="btn btn-success btn-sm">Unblock</a>
                                      <% } else { %>
                                        <!-- If the user is not blocked, display the "Block" button -->
                                        <a href="/admin/user/block/<%= user._id %>" class="btn btn-danger btn-sm">Block</a>
                                        <% } %>
                                      
                                  </td>
                              </tr>
                           <% } %>
                          <% } else { %>
                          <td><h3>No Users List!!</h3></td>
                          <% } %> 
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<%- include('../partials/footer.ejs') %>